* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.texto {
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    margin-left: 1em;
    margin-right: 1em;
    color: white;
    text-align: center;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    padding: 50px;
    background-color: aquamarine;
    text-align: center;
    font-size: 2em;
}

nav {
    display: flex;
    flex-direction: row;
    background-color: #333;
}

nav a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
}

.row {
    display: flex;
}

section {
    flex: 70px;
    background-color: khaki;
    padding: 20px;
}

footer {
    padding: 20px;
    text-align: center;
    background-color: palevioletred;
}

.flex-container {
    display: flex;
    height: auto;
    flex-direction: row;
    background-color: rgb(132, 168, 74);
    border: 2px black;
    padding: 10px;
}

.flex-container div {
    width: auto;
    margin: auto;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid black;
    margin-bottom: 15px;
    margin-right: 5em;
    margin-left: 5em;
}

.imga {
    height: 5rem;
    width: 5rem;
}

.produc{
    height: 16rem;
    width: 16rem;
}

@media screen and (max-width: 700px) {

    .row,
    nav,
    .flex-container,
    .flex-container div {
        flex-direction: column;
    }
}